<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>鼠标跟随提示框</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<style type="text/css">
body{font:12px/1.8 arial;}
a,a:visited{color:#3366cc;text-decoration:none;}
a:hover{color:#f60;text-decoration:underline;}
.tip{width:200px;border:2px solid #ddd;padding:8px;background:#f1f1f1;color:#666;}
img{border:none;}
</style>
<script type="text/javascript"> 
  var tip={$:function(ele){ 
  if(typeof(ele)=="object") 
    return ele; 
  else if(typeof(ele)=="string"||typeof(ele)=="number") 
    return document.getElementById(ele.toString()); 
    return null; 
  }, 
  mousePos:function(e){ 
    var x,y; 
    var e = e||window.event; 
    return{x:e.clientX+document.body.scrollLeft+document.documentElement.scrollLeft, 
y:e.clientY+document.body.scrollTop+document.documentElement.scrollTop}; 
  }, 
  start:function(obj){ 
    var self = this; 
    var t = self.$("mjs:tip"); 
    obj.onmousemove=function(e){ 
      var mouse = self.mousePos(e);   
      t.style.left = mouse.x + 10 + 'px'; 
      t.style.top = mouse.y + 10 + 'px'; 
      t.innerHTML = obj.getAttribute("tips"); 
      t.style.display = ''; 
    }; 
    obj.onmouseout=function(){ 
      t.style.display = 'none'; 
    }; 
  } 
  } 
</script>
</head>
<body>
<a href="#" title="liehuo.net" target="_blank"><img src="http://www.veryhuo.com/liehuo.net/images/liehuo2009/logo.gif" title="liehuo.net" onmouseover="tip.start(this)" tips="烈火" /></a>
<br /><br />
<a href="#" title="liehuo.net" target="_blank" onmouseover="tip.start(this)" tips="烈">烈火网提供站长教程、建站资源、网站运营等信息！</a>
<div id="mjs:tip" class="tip" style="position:absolute;left:0;top:0;display:none;"></div>
</body>
</html><br /><center>如不能显示效果，请按Ctrl+F5刷新本页，更多网页代码：<a href='http://www.veryhuo.com/' title="liehuo.net" target='_blank'>http://www.veryhuo.com/</a></center>